<div class="card text-white bg-dark mb-3">
  <div class="card-header">
    <h3>{{ garden.title }}</h3>
    <small class="text-secondary">{{ garden.description }}</small>
  </div>
  <table class="table table-dark card-body m-0 p-0" *ngIf="garden.plants.length">
    <thead>
    <tr>
      <th scope="col">Plant Type</th>
      <th scope="col" class="text-right">Plant Quantity</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let plant of garden.plants">
      <td>{{ plant.plantType }}</td>
      <td class="text-right">{{ plant.quantity }}</td>
      <td></td>
    </tr>
    <tr *ngIf="showAddPlant">
      <td colspan="3">
        <form [formGroup]="addPlantForm" (ngSubmit)="addPlant()" novalidate>
        <div class="form-group my-0 py-0">
          <div class="input-group">
            <input class="form-control" formControlName="plantType" placeholder="Plant Type" autofocus/>
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary" [disabled]="isAddPlantButtonDisabled()">
                Add
              </button>
            </div>
          </div>
        </div>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="card-footer">
    <button type="button" class="btn btn-sm btn-primary float-right" (click)="showAddPlant = !showAddPlant">Add Plant</button>
  </div>
</div>
